<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
</head>
<body>
    <h1>CREATE</h1>
    <form method="post" action="/store" enctype="multipart/form-data">
        Nombre:
        <input type="txt" name="txtName" id="txtName"> <br>
        Correo:
        <input type="txt" name="txtCorreo" id="txtCorreo"> <br>
        Foto:
        <input type="file" name="txtFoto" id="txtFoto"> <br>
        <input type="submit" value="Agregar"> <br>
    </form>
</body>
</html>