<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for empleado in empleados %}
    <form method="post" action="/update" enctype="multipart/form-data">
        ID:
        <input type="txt" value="{{empleados[0][0]}}" name="txtID" id="txtID"><br>
        Nombre:
        <input type="txt" value="{{empleados[0][1]}}" name="txtNombre" id="txtNombre"><br>
        Correo:
        <input type="txt" value="{{empleados[0][2]}}" name="txtCorreo" id="txtCorreo"><br>
        Foto: 
        <br>
        <img class="imgthumbnail" width="100" src="{{url_for('uploads', nombreFoto=empleado[3])}
        }" alt="">
        <br>
        <b-img-thumbnaiL></b-img-thumbnaiL>
        <!-- {{ empleados[0][3]}}  -->
        <input type="file" name="txtFoto" id="txtFoto"><br>
        <input type="submit" value="Guardar"><br>

    </form>
    {% endfor %}
</body>
</html>