<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <p>TEMPLATES</p>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Foto</th>3
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <img class="img-thumbnail" width="100" src="uploads/{{[3]}}" alt="foto empleado"></td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>
                    <a href="/edit/{{empleado[0]}}">Editar</a>
                    <a href="/destroy/{{empleado[0]}}">Eliminar</a>
                </td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body> 
</html>